body{
  background-color: black ;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0%;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.header h1 {
  cursor: pointer;
}
.search{
  width: 400px;
  padding: 10px;
  font-size: 18px;
  border-radius: 200px;
}
.movie-cards{
  display: flex;
  flex-wrap: wrap;
  margin-left: 100px;
}
.movie-img{
  max-width: 100%;
}

.movie-card {
width: 220px;
margin-left: 30px;
margin-bottom: 20px;
cursor: pointer;
position: relative;
overflow: hidden;

}

.movie-card:hover .movie-overview{
  transform: translateY(0%);
}
.movie-title {
  font-size: 20px;
  width: 180px;
  text-align: center;
}

.movie-overview {
  position: absolute;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding-left: 10px;
  overflow: auto;
  transform: translateY(102%);
  transition:  0.3s;
  max-height: 100%;
  }

  @media (max-width:767px) {
    .header{
      margin-right: 0px;
    }
    .header h1{
     
      font-size: 20px;
    }
    .search{
      width: 200px;
    }
    .movie-cards{
      margin-left: 0px;
    }
    .movie-card{
      width: 150px;
    }
    .movie-title{
      font-size: 15px;
      width: 100%;
    }
  }

  @media (max-width:320px) {
    .search{
      width: 140px;
    }
    .movie-card{
      margin: auto;
    }
  }
